html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title HTMX + Express
	body
		h1 Hello World!
		div#outer
			button(onClick='setTitle()' data-hx-get='/abc' data-hx-target='#inner' data-hx-swap='beforeend' data-hx-vals='js:{count: countPanes()}') Click Me!
			div#inner
		script(type='text/javascript' src='https://unpkg.com/htmx.org@1.8.4')
		script(type='text/javascript').
			function setTitle() {
				var count = countPanes();

				document.title = 'There are ' + count + ' panes';
			}

			function countPanes() {
				return document.querySelectorAll('.pane').length;
			}
